@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Jersey+10&family=Jersey+15&family=Jersey+20&family=Press+Start+2P&family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "VT323", serif;
}

/* .coin-flip-2s {
  animation: flip 2s infinite linear;
  transform-style: preserve-3d;
  position: relative;
}

.coin-flip-4s {
  animation: flip 4s infinite linear;
  transform-style: preserve-3d;
  position: relative;
}

.star-twinkle {
  animation: twinkle 1.5s infinite alternate;
}

@keyframes twinkle {
  0% {
    opacity: 0.4;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1.05);
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }

  25% {
    transform: rotateY(90deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  75% {
    transform: rotateY(270deg);
  }

  100% {
    transform: rotateY(360deg);
  }
} */